.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55);
  display: grid;
  place-items: center;
  z-index: 1;
}

.login-popup-container {
  width: 300px;
  background: #fff;
  padding: 8px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 14px;
  color: #808080;
  animation: fadeIn 0.5s ease;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  color: #000;
}
.login-popup-title h2 {
  font-size: 26px;    
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 7px;
}

.login-popup-title span {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: #555;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  width: 93%;
  padding: 10px;
  border: 1px solid #C9C9C9;
  border-radius: 4px;
  outline: none;
}

.login-popup-container button {
  padding: 11px;
  background: #100b65;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  margin-top: -2px;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: 5px;
}

.login-popup-condition input {
  margin-top: -4px;

}

.login-popup p{
  margin-top: -10px;
}

.login-popup p span {
  color: #100b65;
  font-weight: 500;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-15px); }
  to { opacity: 1; transform: translateY(0); }
}
