@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: 40px auto;
  border: 2px solid #172f60;
  border-radius: 32px;
}

.page-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.page-wrapper {
  width : 80%;
  margin: 0 auto;  
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width:1050px) {
  .app {
    width: 90%;
  }
}
