.admin-login-container {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f3f4ff;
  border-radius: 32px;
}

.admin-card {
  width: 460px;
  height: 400px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.12);
  text-align: center;
  margin-top: 140px;

}

.admin-card h2 {
  color: #100b65;
  font-size: 28px;
  margin-bottom: 6px;
  margin-top: 18px !important;
  padding-top: 0 !important;
}

.admin-sub {
  color: #777;
  margin-bottom: 20px;
}

.admin-card input {
  width: 93%;
  padding: 13px;
  margin-bottom: 22px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  
}

.admin-card button {
  width: 94%;
  padding: 12px;
  background: #100b65;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 6px;
}

.admin-card button:hover {
  background: #1c1587;
}

@media(max-width:480px){
  .admin-card{
    width: 90%;
    padding: 25px;
  }
}
