.bookings-container {
  width: 85%;
  margin: 40px auto;
  margin-bottom: 250px;
}

.bookings-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #100b65;
}

.booking-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 18px;
  border: 1px solid black;
}

.doctor-photo {
  width: 105px;
  height: 105px;
  border-radius: 8px;
  object-fit: cover;
  background-color: #eff6ff;
  padding-bottom: 6px;
}

.booking-info h3 {
  margin: 0;
  font-size: 20px;
  color: #100b65;
}

.booking-info p {
  margin: 4px 0;
  font-size: 14px;
}

.booking-status {
  display: flex;
  flex-direction: column;   
  align-items: flex-end;    
  gap: 18px;                
}


.status-confirmed {
  color: #0a8b1f;
  background: #e3ffe8;
  padding: 6px 12px;
  border-radius: 6px;
}

.status-cancelled {
  color: #d12525;
  background: #ffe3e3;
  padding: 6px 12px;
  border-radius: 6px;
}

.no-bookings {
  font-size: 16px;
  margin-top: 20px;
  opacity: 0.7;
}


.cancel-btn {
  background: #ff5656;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.2s ease;
}

.cancel-btn:hover {
  background: #e64949;
}


@media (max-width: 900px) {
  .bookings-container {
    width: 90%;
  }

  .booking-card {
    padding: 16px;
  }

  .doctor-photo {
    width: 90px;
    height: 90px;
  }

  .booking-info h3 {
    font-size: 18px;
  }

  .booking-info p {
    font-size: 13px;
  }
}


@media (max-width: 600px) {
  .bookings-container {
    width: 94%;
  }

  .booking-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 16px;
  }

  .doctor-photo {
    width: 85px;
    height: 85px;
    border-radius: 8px;
  }

  .booking-info h3 {
    font-size: 17px;
  }

  .booking-info p {
    font-size: 13px;
  }

  .booking-status {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .cancel-btn {
    padding: 8px 14px;
    font-size: 13px;
    margin-left: 0;
  }
}


@media (max-width: 430px) {
  .booking-card {
    padding: 14px;
  }

  .doctor-photo {
    width: 75px;
    height: 75px;
  }

  .booking-info h3 {
    font-size: 16px;
  }

  .booking-info p {
    font-size: 12px;
  }

  .cancel-btn {
    padding: 7px 12px;
    font-size: 12px;
  }
}


@media (max-width: 360px) {
  .doctor-photo {
    width: 70px;
    height: 70px;
  }

  .booking-info h3 {
    font-size: 15px;
  }

  .booking-info p {
    font-size: 11.5px;
  }

  .cancel-btn {
    font-size: 12px;
    padding: 6px 10px;
  }
}
