.app{
  width:90%;
  margin: auto;
}

body {
  overflow-x: hidden;
}

.healio-card {
  width: 1050px;      
  height: 350px;        
  background: #eff1ff;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px; 
  align-items: center;
  padding: 25px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.12);
  margin: 0 auto;
  margin-top: 0 !important;
  margin-bottom: 180px;
}


.healio-left img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.healio-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.healio-middle h3 {
  margin: 0;
  font-size: 30px;
  font-family: 'Segoe UI', sans-serif;
  color: #100b65;
  font-weight: 700;
}

.healio-middle p {
  margin-top: 0;
  color: #4a4a4a;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
}

.healio-middle button {
  margin-top: 16px;
  background: #100b65;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  transition: 0.2s ease;
}

.healio-middle button:hover {
  background: #0b094f;
}



@media(max-width: 768px) {
  .healio-card {
    flex-direction: column;
    text-align: center;
  }
  
  .healio-right {
    margin-top: 10px;
  }
}
