.admin-sidebar {
  width: 270px;
  background: #172f60;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 30px;
}

.admin-sidebar h2{
  margin-bottom: 20px; 
  font-size: 32px;     
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: #E5E9F4;
}

.admin-sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-sidebar a {
  color: #0B1F47; 
  background-color: #F4F6FB;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 14px;
  margin-top: 16px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.admin-sidebar a:hover {
  background-color: #E5E9F4;
}

.admin-sidebar a.active {
  background: #5773d8; 
  color: white;
}

.admin-sidebar .admin-logout-btn {
  margin-top: 50px;
  background: #D72626;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease;
}

.admin-sidebar .admin-logout-btn:hover {
  background: #b41f1f;
}
