.admin-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #f4f7fb;
  border-radius: 30px;
}

.admin-content {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  padding: 20px;
}

@media (max-width: 1050px) {
  .admin-content {
    width: 85%;
  }
}

@media (max-width: 820px) {
  .admin-layout {
    flex-direction: column;    
    border-radius: 0;
  }

  .admin-content {
    width: 90%;
    padding: 18px;
  }
}

@media (max-width: 720px) {
  .admin-content {
    width: 95%;
    padding: 16px;
  }
}


@media (max-width: 560px) {
  .admin-layout {
    padding: 0;
  }

  .admin-content {
    width: 100%;
    padding: 14px;
  }
}

@media (max-width: 460px) {
  .admin-content {
    padding: 12px;
  }
}

@media (max-width: 360px) {
  .admin-content {
    padding: 10px;
  }
}