.admin-bookings-container {
  padding: 15px;
}

.page-title {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 0px !important;
  color: #0b1a54;
}

.booking-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #0b3275; 
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 20px;
}

.booking-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.booking-doctor-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  background-color: #eff6ff;
  padding-bottom: 6px;
  border-radius: 8px;
}

.booking-info h2 {
  margin: 0;
  color: #0b1a54;
  font-size: 20px;
}

.booking-info .spec {
  margin: 3px 0 10px;
  font-size: 15px;
  color: #555;
}

.booking-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.status-dropdown {
  padding: 8px 10px;
  padding-right: 5px;         
  min-width: 110px;            
  border: 1px solid #709ae1;
  border-radius: 6px;
  background: #0b3275;
  color: white;
  cursor: pointer;
  font-size: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 16px;
}


.booking-card {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;            
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;              

  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

